.devProfileContainer {
  margin-top: 20px;
}

.dev-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #72139B;
    margin-bottom: 12px;
    text-align: center;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow:
    -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
    -1px  1px 0 var(--text-color),
    1px  1px 0 var(--text-color),
    0 0 4px rgba(162, 89, 255, 0.9),
    0 0 10px rgba(162, 89, 255, 0.6),
    0 0 16px rgba(162, 89, 255, 0.4);
}

.dev-games{
    width: auto;
    height: 50vw;
    padding: 5em;
    background-color: var(--div-color);
}
