
.page-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vw;
  padding: 2em;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 8px #dd98e6;
  cursor: pointer;
}

.recommended-game-container{

}

.rec-results{

}

.searchGamesInput{

}

.searchButton{
  
}