.recommend-games-container {
  width: auto;
  height: 50vw;
  padding: 5em;
  background-color: var(--div-color);
}

.search-games {
  width: auto;
  height: 50vw;
  padding: 5em;
  background-color: var(--div-color);
}

#searchGamesInput{
  background-color: var(--button-bg);
  color: var(--button-text);
  border-width: 2px;
  border-color: #72139B;
}

#searchButton{
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.game-link {
  color: #72139B;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s ease;
  text-shadow:
    -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
    -1px  1px 0 var(--text-color),
    1px  1px 0 var(--text-color),
    0 0 4px rgba(162, 89, 255, 0.9),
    0 0 10px rgba(162, 89, 255, 0.6),
    0 0 16px rgba(162, 89, 255, 0.4);
}

.game-link:hover {
  text-decoration: underline;
  transform: scale(1.04);
  text-shadow:
    0 0 4px rgba(162, 89, 255, 0.9),
    0 0 10px rgba(162, 89, 255, 0.6),
    0 0 16px rgba(162, 89, 255, 0.4);
}
