.page-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4vh;
}

img {
  width: 40vw;
  max-width: 250px;
  height: auto;
  margin-bottom: 2vh;
}

.login-container {
  background-color: var(--div-color);
  padding: 2rem;
  border-radius: 20px;
  width: 80vw;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  text-align: center;
}

.inner-title {
  font-size: 5vw;
  max-width: 280px;
  color: #72139B;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.8em;
  margin: 0.5em 0;
  border-radius: 10px;
  border: 2px solid #72139B;
  background-color: var(--button-bg);
  color: var(--button-text);
}

.loginButton {
  width: 100%;
  padding: 0.9em;
  margin-top: 1em;
  border-radius: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  cursor: pointer;
}

.password-field {
  position: relative;
  width: 100%;
}

.toggle-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--button-text);
}

.signup-link a {
  color: #72139B;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}