.page-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4vh;
}

img {
  width: 60vw;
  max-width: 460px;
  height: auto;
  margin-bottom: 2vh;
}

.login-container {
  background-color: var(--div-color);
  padding: 2rem;
  border-radius: 20px;
  width: 80vw;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  text-align: center;
}

#login-container input[type="text"],
#login-container input[type="password"],
#login-container input[type="email"] {
  width: 100%;
  padding: 0.8em;
  margin: 0.5em 0;
  border-radius: 10px;
  border: 2px solid #72139B;
  background-color: var(--button-bg) !important;
  color: var(--button-text) !important;
  box-sizing: border-box;
  text-align: center;
}

#login-container input[type="submit"] {
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: 0.25s;
  width: 60%;        
  margin-top: 8px;
  padding: 8px 0;    
  border-radius: 10px;
}

#inner-title {
  font-size: 5.3rem;
  font-weight: 600;
  color: #72139B;
  margin-bottom: 12px;
  text-align: center;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

#loginButton:hover {
  box-shadow: 0 0 8px var(--button-bg), 0 0 14px var(--button-bg);
  transform: scale(1.03);
}

.password-field {
  position: relative;
}

.toggle-eye {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  filter: none !important; 
  box-shadow: none !important;
}

.page-container img {
  filter: drop-shadow(0 0 12px rgba(162, 119, 255, 0.45));
  transition: 0.25s;
}

.page-container img:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 20px rgba(162, 119, 255, 0.65));
}

.signup-link a {
  color: #72139B;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}