.page-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 2rem;
}

.game-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    padding: 1em;
}
.game-column{
    float: left;
    overflow-y: scroll;
}

/*
.page-title{
    //color: ;
    //font: ;
}

.column-title{
    //color: ;
    //font: ;
}
*/