.page-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4vh;   
}

.page-title{
    font-size: 3rem;
    font-weight: 600;
    color: #72139B;
    margin-bottom: 12px;
    text-align: center;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow:
    -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
    -1px  1px 0 var(--text-color),
    1px  1px 0 var(--text-color),
    0 0 4px rgba(162, 89, 255, 0.9),
    0 0 10px rgba(162, 89, 255, 0.6),
    0 0 16px rgba(162, 89, 255, 0.4);
}

.game-container{
    background-color: var(--div-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    padding: 1em;
}
.game-column{
    background-color: var(--div-color);
    color: var(--text-color);
    float: left;
    overflow-y: scroll;
    width: 16vw;
    height: 50vw;
}

.column-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: #72139B;
    margin-bottom: 12px;
    text-align: center;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow:
    -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
    -1px  1px 0 var(--text-color),
    1px  1px 0 var(--text-color),
    0 0 4px rgba(162, 89, 255, 0.9),
    0 0 10px rgba(162, 89, 255, 0.6),
    0 0 16px rgba(162, 89, 255, 0.4);
}

span{
    background-color: var(--button-bg);
    color: var(--button-text);
    border-width: 2px;
    border-color: #72139B;
}