.page-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vw;
  padding: 2em;
}

.user-container {
  width: auto;
  height: 50vw;
  padding: 5em;
}

.pfp-container {
  width: 25vw;
  height: 25vw;
  padding: 2em;
}

.info-container {
  width: 25vw;
  height: 65vw;
  padding: 2em;
}

.settings-container {
  width: auto;
  height: 30vw;
  padding: 2em;
}

button {

}