.resend-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: 0.25s;
  width: 60%;        
  margin-top: 8px;
  padding: 8px 0;    
  border-radius: 10px;
}

.page-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4vh;   
}

#inner-title {
  font-size: 5.3rem;
  font-weight: 600;
  color: #72139B;
  margin-bottom: 12px;
  text-align: center;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow:
    -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
    -1px  1px 0 var(--text-color),
    1px  1px 0 var(--text-color),
    0 0 4px rgba(162, 89, 255, 0.9),
    0 0 10px rgba(162, 89, 255, 0.6),
    0 0 16px rgba(162, 89, 255, 0.4);
}

#inner-smaller-title {
  font-size: 3rem;
  font-weight: 600;
  color: #72139B;
  margin-bottom: 12px;
  text-align: center;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow:
    -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
    -1px  1px 0 var(--text-color),
    1px  1px 0 var(--text-color),
    0 0 4px rgba(162, 89, 255, 0.9),
    0 0 10px rgba(162, 89, 255, 0.6),
    0 0 16px rgba(162, 89, 255, 0.4);
}

input{
  width: 100%;
  padding: 0.8em;
  margin: 0.5em 0;
  border-radius: 10px;
  border: 2px solid #72139B;
  background-color: var(--button-bg) !important;
  color: var(--button-text) !important;
  box-sizing: border-box;
  text-align: center;
}


