@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

body[data-theme="dark"] {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.page-container {
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav{
  border-radius: 4vw;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

nav a{
  font-size: 3vw;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #2047C0;
  text-shadow: 0 0 5px #dd98e6, 0 0 10px #dd98e6, 0 0 15px #dd98e6;
}

nav a:hover{
  background-color: hsl(225, 95%, 58%);
}

.title-container{
  position: relative;
  display: flex;
}

.title{
  font-size: 20vw;
  color: #72139B;
  text-shadow: 0 0 5px #dd98e6, 0 0 10px #dd98e6, 0 0 15px #dd98e6;
}

body[data-theme="light"] {
  --bg-color: #dae1f1;
  --text-color: black;
  --div-color: #becbf4;
  --button-bg: #2047c0;
  --button-text: black;
}

body[data-theme="dark"] {
  --bg-color: #192642;
  --text-color: white;
  --div-color: #0f2157;
  --button-bg: #2047c0;
  --button-text: white;
}

