@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.page-container{
  display: flex;
  overflow-y: auto;
  margin: 5vw;
}

nav{
  border-radius: 4vw;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

nav a{
  font-size: 3vw;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #2047C0;
  text-shadow: 0 0 5px #dd98e6, 0 0 10px #dd98e6, 0 0 15px #dd98e6;
}

nav a:hover{
  background-color: hsl(225, 95%, 58%);
}

.title-container{
  position: relative;
  display: flex;
}

.title{
  font-size: 20vw;
  color: #72139B;
  text-shadow: 0 0 5px #dd98e6, 0 0 10px #dd98e6, 0 0 15px #dd98e6;
}

body[data-theme="light"] {
  --bg-color: #dae1f1;
  --text-color: black;
  --div-color: #becbf4;
  --button-bg: #2047c0;
  --button-text: black;
}

body[data-theme="dark"] {
  --bg-color: #192642;
  --text-color: white;
  --div-color: #0f2157;
  --button-bg: #2047c0;
  --button-text: white;
}

